.root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  top: 0;
  left: 0;
  background: rgba(236, 236, 236, 0.9);
}
