.root {
  display: flex;
  align-items: center;
  inline-size: 100%;
  box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
  position: relative;
  inline-size: 100%;
  max-inline-size: 900px;

  &Image {
    max-block-size: 140px;

    @media screen and (max-width: 840px) {
      max-block-size: 90px;
    }
  }

  &Content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    flex-grow: 1;

    @media screen and (max-width: 840px) {
      padding: 8px;
      font-size: 0.8rem;
    }

    &Description {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &Control {
      display: flex;
      gap: 20px;
      align-items: center;
      font-size: 2rem;

      @media screen and (max-width: 840px) {
        font-size: 1.4rem;
      }

      &Button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: inherit;
        inline-size: 40px;
        block-size: 40px;
        background-color: grey;
        border: none;
        transition: 0.3s;

        &:hover {
          transform: scale(1.05);
        }

        @media screen and (max-width: 840px) {
          inline-size: 20px;
          block-size: 20px;
        }
      }
    }
  }

  &Remove {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 1.3rem;

    @media screen and (max-width: 840px) {
      font-size: 1rem;
    }
  }
}
