.root {
  width: 100%;
  font-size: 1.5rem;
  border-bottom: 1px solid black;

  &Nav {
    padding: 20px;

    &List {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      gap: 20px;

      &Home {
        flex-grow: 1;
      }

      &Link {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
