.root {
  display: flex;
  flex-direction: column;

  &Container {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 840px) {
      flex-direction: column-reverse;
      align-items: center;
    }

    &Products {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex-basis: 700px;
    }
  }
}
