.root {
  display: flex;
  flex-direction: column;

  &Container {
    display: flex;
    gap: 20px;

    &Products {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex-basis: 700px;
    }
  }
}
